<!DOCTYPE html>
<html>
<head>
    <title><%= styleName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= styleName %></h1>

<h2><%= styleLocation %></h2>
</body>
</html>
